<nav id="application_name"><h1>home</h1></nav>

<nav id="things">
  <ul>
    <li class="header"><h5>People and Places</h5>
      <li class="item" data-id="people"><h5>People</h5></li>
      <li class="item" data-id="places"><h5>Places</h5></li>
    </ul>
  </ul>
</nav>